{% load static %}
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>webpack x React x TypeScript</title>
    </head>
    <body>
        <div id="root"></div>
        <script>
            window.nickname = "{{ user.nickname }}"
            window.messages_num = 3
            window.notifications_num = 40
        </script>
        <script defer src="{% static 'home/home.bundle.js' %}"></script>
    </body>
</html>